/* ****
GLOBAL VARIABLES
**** */
body {
    position: relative;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header {
    text-align: center;
    padding-top: 15px;
}
footer {
    bottom: 0;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    background: rgb(218, 235, 238);
    bottom: 0;
    width: 100%;
}
a {
    text-decoration: none;
}
p {
    padding-bottom: 40px;
    margin: auto;
}
img {
    max-width: 75%;
    height: auto;
}
.main-content {
    position: relative;
}

/* ****
    NAVBAR
**** */

.navbar {
    display:flex;
    position: relative;
    top: 0;
    width: 100%;
    background: rgb(218, 235, 238);
    color: rgb(116, 156, 107);


    /* margin 0 & padding 0 makes navbar fit to screen properly */
    margin: 0;
    padding: 5px 0;
}
.nav-item {
    padding: 10px;
    margin: 10px;
    list-style-type: none;
}

/* ****
    SPECIAL 
    ITEMS
**** */

.home {
    flex-grow: 1;
}
.foot {
    font-size: 14px;
    padding: 25px;
}
.blog-page {
    max-width: 960px;
    padding: 150px;
    margin: 0 auto;
    text-align: justify;
}


/* ****
    GALLERY/IMGS
**** */

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container > img {
    width: 75%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    padding: 2px;
    align-content: center;
}
.media {
    justify-content: center;
    text-align: center;
}

/* ****
    MEDIA ITEMS
    cell phones
**** */

@media (max-width: 600px) {
    .navbar {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .nav-item {
        padding: 2px;
        margin: 0;
        font-size: 12px;
        flex: 1 1 100%;
        text-align: center;
        width: 100%;
    }
    .blog-page {
        padding: 30px;
    }
    .media-item > p {
        padding: 0 10px 50px;
        text-align: left;
    }
    p {
        margin: 0 auto;
        font-size: 16px;
    }
    h1 {
        height: auto;
        width: auto;
    }
    img {
        max-width: 100%;
    }
    footer {
        padding: 2px;
        font-size: 12px;
    }
}
